/* _________________________________________COMMON STYLES_________________________________________ */
.whole-site {
    font-family: Roboto, sans-serif;
}
a {
    text-decoration: none;
}
/* _________________________________________COMMON STYLES_________________________________________ */


/* _________________________________________HEADER_________________________________________ */
.Web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #2196F3;
}

.Studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: #000000;}

.links-list {
    list-style: none;
}

.link-item {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
}

.link-item:hover, .link-item:focus{
    color: #2196F3;
}

.header-adress {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
}

.header-adress:hover, .header-adress:focus{
    color: #2196F3;
}
/* _________________________________________HEADER_________________________________________ */



/* _________________________________________FOOTER_________________________________________ */
.whole-bottom{
    width: 1600px;
    height: 252px;
    left: 0px;
    top: 1628px;
    background-color: #2F303A;
}

.phisical-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #FFFFFF;

}

.footer-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* _________________________________________FOOTER_________________________________________ */