
 /* ________________________________________FILTRES________________________________________ */
.filtres {
    list-style: none;
}

.filtres-items {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    color: #212121;
}

.filtres-buttons {
    border-radius: 4px;
    border-color: #F5F4FA;
    background-color: #F5F4FA;
}
.filtres-buttons:hover, .filtres-buttons:focus{
        background: #2196F3;       
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        color: #FFFFFF; 
}

/* ________________________________________FILTRES________________________________________ */



/* ________________________________________PRODUCTS________________________________________ */

.products-list {
    list-style: none;
}

.product-list {

}

.product-name {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);   
    letter-spacing: 0.06em;    
    color: #212121;
}

.product-class {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: #757575;
}

/* ________________________________________PRODUCTS________________________________________ */